.grid{
  /* border: 1px solid red; */
}

.row-container{
  /* border: 1px solid lime; */
  /* margin: 10px; */
}

.cell {
  width: 60px;
  height: 60px;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  line-height: 60px;
}

.mask.turtle, .mask.visited {
  background:rgba(255,255,255,0);
} 

.mask {
  position: absolute;
  width: inherit;
  height: inherit;
  background:rgba(208, 208, 208, 1);
  border: 1px solid grey;
  transition: background 0.1s;
  /* animation: showHide 500ms; */
  
}
.mask.display{
  background: transparent;
  /* animation-name: showHide;
  animation-duration: 0.5s; */
}

@keyframes showHide {
  from {
    background: inherit;
  }
  to{
    background:rgba(208, 208, 208, 0.1);
  }
}