.grid{
  /* border: 1px solid red; */
}

.row-container{
  /* border: 1px solid lime; */
  /* margin: 10px; */
}

.cell {
  width: 60px;
  height: 60px;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  line-height: 60px;
}
.cell{
  /* background:rgba(0,0,0,0.2); */
}
.mask.turtle, .mask.visited, .mask.mine {
  background:rgba(255,255,255,0);
} 

.mask {
  position: absolute;
  width: inherit;
  height: inherit;
  background:rgba(208, 208, 208, 1);
  border: 1px solid grey;

}